@model IEnumerable<RegFormAN.Models.CANDIDATE_DETAILS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CANDIDATE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROJECT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRACTICE_AREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANDATORYSKIL.SKILL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPTIONALSKIL.SKILL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CANDIDATE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROJECT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRACTICE_AREA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANDATORYSKIL.SKILL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPTIONALSKIL.SKILL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CID })
        </td>
    </tr>
}

</table>
